@font-face{
    font-family: IBM Plex Mono;
    src: url('../../public/IBMPlexMono-Light.ttf') format('trueType');
}

$header-fixup: 2.5rem;

// Fonts
$main-font: 'IBM Plex Mono';

// Themes
$text-color: #ABA499;
$main-bg: black;

// Media
$ipad: 1250px;
$mobile: 600px;

// Mixin
@mixin active-glowing{
    animation: active-glow ease-in-out infinite 2.5s;
}

// Keyframes
@keyframes active-glow{
    0%{ color: $text-color; border: 1px solid $text-color; }
    20%{ color: $main-bg;}
    50%{ background-color: $text-color; color: $main-bg; }
    70%{ color: $main-bg;}
    100%{ color: $text-color; border: 1px solid $text-color; }
}