@import '../../../../styles/global.scss';

.chart-nav-container{
    display: flex; justify-content: center; gap: 16px; flex-wrap: wrap;

    & > div{
        padding: 6px 10px;
        font-weight: bold; font-size: 1.5rem; text-transform: uppercase; white-space: nowrap;
        background-color: $main-bg;
        border: 1px solid $text-color; border-radius: 15px;

        @media(max-width: $ipad) { font-size: 1.25rem; }
        @media(max-width: $mobile) {font-size: 1rem; }

        &:hover{
            cursor: pointer;
            border: 1px solid $main-bg;
            background-color: $text-color; color: $main-bg;
            transform: scale(.9); transition: .35s;
        }
    }

    .active-chart{
        border: 1px solid $main-bg;
        background-color: $text-color; color: $main-bg;
    }
}