@import './styles/global.scss';

html{ margin: 0; padding: 0; }

body{
    margin: 0; padding: 0;
    color: $text-color; background-color: $main-bg;
    font-family: $main-font;
}

::-webkit-scrollbar { width: 12px;}
::-webkit-scrollbar-track { background: $text-color; }
::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.85); border-radius: 25px; }
::-webkit-scrollbar-thumb:hover { background: rgba(0, 0, 0, 0.7); }